.title {
    font-size: 24;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 20;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.item {
	font-size: 16;
	padding: 16;
	margin-left: 12;
}